<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project management tool</title>
    <script src="createSprint.js" type="module"></script>
    <script src='../Controller/Controller.js' type="module"></script>
</head>
<body>
<h1> Create Sprint </h1>
<form id="sprintName">Sprint Name:
    <input type="text" name="sprintName">
</form>
<button id="create">
    Create
</button>
<a id="warning" style="display:none;"> Sprint name already exists!</a>
</body>
</html>