<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="createTask.js" type="module"></script>
    <title>Project Management Tool</title>
</head>
<body>
<h1>Create task</h1>
<form id="Name">Name:
    <input type="text" name="Name">
</form>
<form id="Sprint">Sprint(insert sprint id):
    <input type="text" name="Sprint">
</form>
<form id="Assignee">Assignee:
    <input type="text" name="Assignee">
</form>
<form id="Description">Description:
    <input type="text" name="Description">
</form>
<button id="create">
    Create
</button>
</body>
</html>