<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="index.js" type="module"></script>
    <script src='../Controller/Controller.js' type="module"></script>
    <title>Project management tool</title>
</head>
<body>
<h1> Welcome to an ugly looking management tool!</h1>
<p> Please use your ID to sign in (hint: available user ID's are numbers from 1 to 10)</p>
<form id="userID">UserID:
    <input type="text" name="userID">
</form>
<button id="signIn">
    Sign in
</button>
</body>
</html>