<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="menu.js" type="module"></script>
    <title>Project management tool</title>
</head>
<body>
<h1> Menu </h1>
<br>
<ul>
    <li class="list">Create Feature/Bug</li>
    <li class="list">Create Task</li>
    <li class="list">See Overview</li>
    <li class="list">Update issue</li>
    <li class="list">Filter issues</li>
    <li class="list">Create Sprint</li>
    <li class="list">Log out</li>
    <li class="list" id="delete">Delete data</li>
</ul>
</body>
</html>